<div class="content-body">
  <!-- <div class="form-wrapper"> -->
      <div class="coverage-item-desc">
<div class="group group-3f">

    <div class="group-section-a">
        <app-textbox [label]="'FirstName'" [required]=true [(ngModel)]="signupvo.firstName"></app-textbox>

    </div>

</div>
<div class="group group-3f">

    <div class="group-section-a">
        <app-textbox [label]="'LasttName'" [required]=true [(ngModel)]="signupvo.lastName"></app-textbox>

    </div>

</div>
<div class="group group-3f">

    <div class="group-section-a">
        <app-textbox [label]="'Password'" [required]=true [(ngModel)]="signupvo.password"></app-textbox>

    </div>

</div>
<div class="group group-3f">

    <div class="group-section-a">
        <app-textbox [label]="'Confirm Password'" [required]=true [(ngModel)]="signupvo.confirmPassword"></app-textbox>

    </div>

</div>
<div class="group group-3f">

    <div class="group-section-a">
        <app-textbox [label]="'Email Id'" [required]=true [(ngModel)]="signupvo.emailId"></app-textbox>

    </div>

</div>
<div class="group group-3f">

    <div class="group-section-a">
        <div class="forms">

            <label for="rdo1">
              <input type="radio" id="rdo1" name="radio" value=F [(ngModel)]="signupvo.gender">
              <!-- <span class="rdo"></span> -->
              <span>F</span>
            </label>

            <label for="rdo2">
              <input type="radio" id="rdo2" name="radio" value=M [(ngModel)]="signupvo.gender" >
              <!-- <span class="rdo"></span> -->
              <span>M</span>
            </label>

          </div>

</div>
</div>
<div class="group group-3f">

    <div class="group-section-a">
        <app-textbox [label]="'Date of Birth'" [required]=true [(ngModel)]="signupvo.dateOfBirth"></app-textbox>

    </div>


</div>
<br>
<div class="group group-3f">

    <div class="group-section-a">
        <button (click)="sendRequest()">Submit</button>

    </div>


</div>
  </div>
  </div>




